.bottomNav_wrap {
    width: 100%;
    height: 10vh;
    background-color: lightgrey;
    opacity: .8;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.bottomNav_wrap button {
    height: 100%;
    width: 6rem;
    border: none;
    background-color: lightgrey;
}

.bottomNav_wrap button p {
    margin-bottom: 0.5rem;
    color: rgb(92, 87, 87);
    font-size: x-large;
}